@import "../../scss/vars";

.messages {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 8fr;
}

.dialogList,
.messageList {
  display: flex;
  flex-direction: column;
}

.dialog,
.message {
  height: 70px;
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  &.active {
    background-color: $color-active-light;
  }
}
