.Hamburger {
  display: block;
  transform-origin: 16px 11px;
  float: left;
  margin-right: 29px;
  outline: 0;
  border: 0;
  padding: 12px;
  background: none;
  cursor: pointer;

  & span {
    transition: all 0.3s ease;
  }

  &:hover {
    & span:nth-of-type(odd) {
      width: 33px;
    }
  }

  &.Active {
    & span:nth-of-type(1) {
      transform: rotate(45deg) translate(10px, 10px);
      width: 40px;
    }

    & span:nth-of-type(2) {
      opacity: 0;
      pointer-events: none;
    }

    & span:nth-of-type(3) {
      transform: rotate(-45deg) translate(7px, -7px);
      width: 40px;
    }
  }
}

.Span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 7px;
  background-color: #fff;
}
