@import "../../../../scss/vars";

.Message {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 70px 10fr 3fr;
  min-height: 70px;
}
.Name {
  font-weight: bold;
  padding-bottom: 10px;
}

.Photo img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.RightBlock,
.MidBlock {
  display: flex;
  flex-direction: column;
}

.Date {
  font-size: 0.9rem;
  opacity: 0.7;
  text-align: right;
  margin-bottom: 10px;
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & div {
    margin-left: 10px;
  }
}
