@import "../../../../scss/vars";

.ButtonNav {
  position: relative;
  width: 200px;
  height: 30px;
  border: 0px;

  cursor: pointer;
  background-color: $color-main;
  color: #fff;

  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;

  &:hover {
    // background-color: $color-main-lighter;

    &:before {
      width: 100%;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 30px;
    background: rgba(255, 255, 255, 0.3);
    transition: all 1s ease;
  }

  // &:active {
  //   background-color: $color-active;
  // }
}
