@import "../../../../scss/vars";

.dialog {
  height: 70px;
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  &.active {
    background-color: $color-active-light;
  }
}
