@import "../../../scss/vars";

.Paginator {
  display: flex;
  margin-bottom: 10px;
}

.pageNumber {
  padding: 5px;
  border: 1px solid $color-border-dark;
  cursor: pointer;
}

.pageNumber.selectedPage {
  font-weight: bold;
  background-color: $color-active;
}
