@import "../../scss/vars";

.User {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 100px 2fr 1fr;
}

.Photo img {
  width: 100px;
  height: 100px;
}

.Info {
  padding-top: 10px;
}

.Name {
  font-weight: bold;
  padding-bottom: 10px;
}

.Status {
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding-top: 10px;

  & div {
    margin-left: 10px;
  }
}
