@import "../../scss/vars";

.User {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 10fr;

  &Ava {
  }

  &Btn {
  }

  &Info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &Person {
  }

  &Location {
  }
}
