@import "../../../scss/vars";

.formsControls.error input,
.formsControl.error textarea {
  border: 1px solid $color-error;
}

.formsControls.error span {
  color: $color-error;
}

.formSummaryError {
  color: $color-error;
}

.Textarea,
.Input {
  padding: 5px;
  outline: none;
  transition: 0.2s ease;
}

.Textarea {
  resize: none;
  width: 100%;
}

.Input {
  min-width: 30px;
  height: 25px;
}
