@import "../../../scss/vars";

.formsControls.error input,
.formsControl.error textarea {
  border: 1px solid $color-error;
}

.formsControls.error span {
  color: $color-error;
}

.formSummaryError {
  color: $color-error;
}

// textarea,
// input {

// }

.Textarea {
  padding: 5px;
  margin: 5px 0px;
}

.Input {
  min-width: 30px;
  height: 25px;
  padding: 5px;
  margin: 5px 20px 5px 0px;
}

// input[type="checkbox"]:checked,
// input[type="checkbox"]:not(:checked) {
//   position: absolute;
//   left: -9999px;
// }
