@import "../../../scss/vars";

.formsControls.error input,
.formsControl.error textarea {
  border: 1px solid $color-error;
}

.formsControls.error span {
  color: $color-error;
}

.formSummaryError {
  color: $color-error;
}
