@import "../../scss/vars";

.lightMode {
  background-color: $color-bg-light;
  color: $color-text-light;
}

.darkMode {
  background-color: $color-bg-dark;
  color: $color-text-dark;
}

.darkMode section {
  background-color: $color-section-dark;
  // border: 1px solid $color-border-dark;
}

.lightMode section {
  background-color: $color-section-light;
  // border: 1px solid $color-border-light;
}

.darkMode textarea,
.darkMode input {
  background-color: $color-section-dark;
  border: 1px solid $color-border-inputs-dark;
  color: $color-text-dark;
}

.lightMode textarea,
.lightMode input {
  background-color: $color-section-light;
  border: 1px solid $color-border-inputs-light;
  color: $color-text-light;
}
