@import "../../scss/vars";

.lightMode {
  background-color: $color-bg-light;
  color: $color-text-light;

  & section {
    background-color: $color-section-light;
  }

  & article {
    background-color: $color-section-light;
    &:hover {
      background-color: $color-article-hover-light;
    }
  }

  & textarea,
  & input {
    background-color: $color-inputs-light;
    border: 1px solid $color-border-inputs-light;
    color: $color-text-light;

    &:focus {
      border: 1px solid $color-main-lighter;
    }
  }

  & a {
    color: #000;
  }
}

.darkMode {
  background-color: $color-bg-dark;
  color: $color-text-dark;

  & section {
    background-color: $color-section-dark;
  }

  & article {
    background-color: $color-section-dark;
    &:hover {
      background-color: $color-article-hover-dark;
    }
  }

  & textarea,
  & input {
    background-color: $color-inputs-dark;
    border: 1px solid $color-border-inputs-dark;
    color: $color-text-dark;

    &:focus {
      border: 1px solid $color-main;
    }
  }

  & a {
    color: #fff;
  }
}
