@import "../../scss/vars";

.lightMode {
  background-color: $color-bg-light;
  color: $color-text-light;

  & section {
    background-color: $color-section-light;
  }

  & textarea,
  & input {
    background-color: $color-section-light;
    border: 1px solid $color-border-inputs-light;
    color: $color-text-light;
  }

  & a {
    color: #000;
  }
}

.darkMode {
  background-color: $color-bg-dark;
  color: $color-text-dark;

  & section {
    background-color: $color-section-dark;
  }

  & textarea,
  & input {
    background-color: $color-section-dark;
    border: 1px solid $color-border-inputs-dark;
    color: $color-text-dark;
  }

  & a {
    color: #fff;
  }
}
