@import "../../scss/vars";

.Header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  padding: 10px 20px;

  background-color: $color-header;
  color: #fff;
}

.Logo {
  font-weight: bold;
  font-size: 2rem;

  &Social {
    color: $color-active;
  }

  &Dev {
    color: $color-main-lighter;
  }
}

.Theme {
  font-size: 0.9rem;
  cursor: pointer;
  color: #ddd;
  transition: 0.5s ease;

  &:hover {
    color: #fff;
  }
}

.Logined {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.Login {
  margin-right: 10px;
  font-weight: bold;
  margin-top: 3px;
}

.LoginLink {
  color: #fff;
}
