@import "../../scss/vars";

.Header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  padding: 10px 20px;

  background-color: $color-header;
  color: #fff;
}

.LoginBlock a {
}

.Logo {
  font-weight: bold;
  font-size: 2rem;

  &Social {
    color: $color-active;
  }

  &Dev {
    color: $color-main-lighter;
  }
}

.Theme {
  font-size: 0.9rem;
  cursor: pointer;
}
