@import "../../scss/vars";

.Header {
  display: flex;
  justify-content: space-between;
  background-color: $color-header;
  grid-area: header;
  // border-radius: 0 0 5px 5px;
  padding: 10px 20px;
}

.LoginBlock a {
}

.Logo {
  font-weight: bold;
  font-size: 2rem;

  &Social {
    color: $color-active;
    // color: #fff;
  }

  &Dev {
    color: $color-main-lighter;
    // color: #fff;
    // color: $color-active;
  }
}
