@import "../../../scss/vars";

.Modal {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  &Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    background-color: $color-section;
    color: $color-error;
  }

  &Close {
    width: 60px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: $color-main;
    cursor: pointer;
  }
}
