@import "../../../scss/vars";

.Profile {
  &Container {
    display: flex;
    background-color: $color-white;
    border-radius: 5px;
    padding: 10px;
  }

  &Photo {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }

  &Image {
    max-width: 300px;
    margin-bottom: 10px;
  }

  &Info {
    display: grid;
    grid-gap: 5px;
  }

  &About {
  }

  &Job {
    display: flex;
    flex-direction: column;
  }

  &Contacts {
    display: flex;
    flex-direction: column;
  }
}
