@import "../../../scss/vars";

.Profile {
  // contains Photo & Data component
  &Container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 30px;
    padding: 20px;
  }

  &Photo {
    display: flex;
    flex-direction: column;
  }

  &Image {
    max-width: 300px;
    margin-bottom: 10px;
  }

  // contains Upper & Lower sections
  &Info {
    display: flex;
    flex-direction: column;
  }

  &UpperSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &LowerSection {
    display: grid;
    grid-gap: 20px;
    padding-top: 20px;
  }

  &About {
    padding-bottom: 20px;
  }

  &Job {
    display: grid;
    grid-gap: 10px;

    &Title {
      opacity: 0.7;
    }
  }

  &Contacts {
    display: flex;
    flex-direction: column;
  }

  &ContactsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
  }

  &Contact {
    padding: 2px;

    &Title {
      opacity: 0.7;
    }
  }
}
