@import "../../../scss/vars";

.Posts {
  display: grid;
  grid-gap: 10px;
}

.Form {
  display: grid;
  grid-template-columns: 12fr 1fr;
  margin-bottom: 10px;

  & div {
    margin-right: 5px;
  }
}
