.wrapper {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid black;

  display: grid;
  grid-gap: 10px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header header"
    "nav profile profile";
}
