@import "/vars";

.wrapper {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-gap: 20px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header header"
    "nav main main";
}

.wrapperContent {
  grid-area: main;
}

section,
article {
  padding: 10px 20px;
}

hr {
  opacity: 0.4;
}

input[type="checkbox"],
input[type="file"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  color: transparent;
  display: inline-block;
  border: 1px solid rgba(140, 140, 140, 0.7);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease 0.3s;
}

input[type="checkbox"]:checked + label:before {
  color: $color-main-lighter;
}
