@import "/vars";

.wrapper {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-gap: 10px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header header"
    "nav main main";
}

.wrapperContent {
  grid-area: main;
}

section {
  border-radius: 5px;
  padding: 10px;
}

.lightMode {
  background-color: $color-bg-light;
  color: $color-text-light;
}

.darkMode {
  background-color: $color-bg-dark;
  color: $color-text-dark;
}

.darkMode section {
  background-color: $color-section-dark;
  border: 1px solid $color-border-dark;
}

.lightMode section {
  background-color: $color-section-light;
  border: 1px solid $color-border-light;
}
