@import "/vars";

.Wrapper {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-gap: 20px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header header"
    "nav main main";

  @media (max-width: 767px) {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main";
  }
}

.MainContainer {
  grid-area: main;
}

section,
article {
  padding: 10px 20px;
}

hr {
  opacity: 0.4;
}

input[type="checkbox"],
input[type="file"] {
  display: none;
}

label input[type="checkbox"] + span:after {
  content: "\2714";
  color: transparent;
  display: inline-block;
  border: 1px solid rgba(140, 140, 140, 0.7);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease 0.3s;
}

label input[type="checkbox"]:checked + span:after {
  color: $color-active;
}

textarea,
input {
  padding: 5px;
  outline: none;
  transition: 0.2s ease;
}

textarea {
  resize: none;
  width: 100%;
}

input {
  min-width: 30px;
  height: 25px;
}

// мобильное – 320px
// планшет – 768px
// ноутбук – 1440px
// настольный компьютер – 1920px
