@import "/vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

section {
  background-color: $color-section;
  border: 1px solid $color-border;
  border-radius: 5px;
  padding: 10px;
}

// body {
//   background-color: $color-bg-light;
//   color: $color-text-light;
// }

body {
  background-color: $color-bg-dark;
  color: $color-text-dark;
}
