@import "/vars";

body {
  background-color: $color-bg-light;
  color: $color-text-light;
}

section {
  background-color: $color-section-light;
  border: 1px solid $color-border-light;
  border-radius: 5px;
  padding: 10px;
}
