$color-main: #c145fa;
$color-active: #f8a408;

$color-bg-dark: #2b2a2a;
$color-section-dark: #545455;
$color-border-dark: #797878;
$color-text-dark: #ffffff;

$color-bg-light: #f5f5f5;
$color-section-light: #ffffff;
$color-border-light: #d2d6d6;
$color-text-light: #000000;
$color-error: #b40303;
