$color-main: #8105c9;
$color-main-lighter: lighten($color-main, 25%);
$color-main-darker: darken($color-main, 25%);
$color-active: #f8a408;
$color-button: #777777;
$color-button-lighter: lighten($color-button, 10%);

$color-bg-dark: #333333;
$color-text-dark: #ffffff;
$color-section-dark: #505050;
$color-border-inputs-dark: #8d8d8d;

$color-bg-light: #e4e4e4;
$color-text-light: #000000;
$color-section-light: #ffffff;
$color-border-inputs-light: #adadad;

$color-error: #e4008d;
$color-header: rgba(0, 0, 0, 0.7);
