$color-main: #c145fa;
$color-active: #f8a408;

$color-bg-dark: #2b2a2a;
$color-text-dark: #ffffff;
$color-section-dark: #464646;
$color-border-dark: #636363;

$color-bg-light: #ecebeb;
$color-text-light: #000000;
$color-section-light: #ffffff;
$color-border-light: #d6d6d6;

$color-error: #b40303;

// $color-section: rgba(255, 255, 255, 0.15);
// $color-border: rgba(0, 0, 0, 0.2);
$color-header: rgba(0, 0, 0, 0.7);
