@import "../../scss/vars";

.nav {
  grid-area: nav;
  padding: 20px;
}

.link {
  margin-bottom: 10px;

  & a {
    color: $color-main;

    &.active {
      font-weight: 700;
      color: $color-active;
    }
  }
}
