@import "../../scss/vars";

.nav {
  grid-area: nav;
}

.link {
  margin-bottom: 10px;

  & a {
    color: #ffffff;
    padding: 10px 65px;
    position: relative;
    z-index: 1;
    // font-weight: 700;

    &.active {
      color: $color-active !important;
    }

    &.unactive {
      color: #fff;
    }
  }
}
